name = "MPSKit"
uuid = "bb1c41ca-d63c-52ed-829e-0820dda26502"
authors = ["Maarten Van Damme", "Jutho Haegeman", "Gertian Roose", "Markus Hauru"]
version = "0.6.1"

[deps]
FLoops = "cc61a311-1640-44b5-9fba-1b764f453329"
FastClosures = "9aa1b823-49e4-5ca5-8b0f-3971ec8bab6a"
KrylovKit = "0b1a1467-8014-51b9-945f-bf0ae24f4b77"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
OptimKit = "77e91f04-9b3b-57a6-a776-40b61faaebe0"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
TensorKit = "07d1fe3e-3e46-537d-9eac-e9e13d0d4cec"
TensorKitManifolds = "11fa318c-39cb-4a83-b1ed-cdc7ba1e3684"
Transducers = "28d57a85-8fef-5791-bfe6-a80928e7c999"

[compat]
FastClosures = "0.3"
KrylovKit = "0.4 - 0.6"
OptimKit = "0.3.1"
Parameters = "0.12.1"
RecipesBase = "1.1"
TensorKit = "0.10"
TensorKitManifolds = "0.5,0.6"
julia = "1.4 - 1.8"
Transducers = "0.4.67"
FLoops = "0.1"
